.wcag-quote .note,
.wcag-quote .ednote,
.wcag-quote .example {
  font-style: italic;
  background-color: #EEE;
  border-left-style: none;
}

.wcag-quote .note em,
.wcag-quote .ednote em,
.wcag-quote .example em {
  font-style: normal;
}

ins {
  text-decoration: none;
}
