.wcag-quote .note,
.wcag-quote .ednote,
.wcag-quote .example {
  font-style: italic;
  background-color: #EEE;
  border-left-style: none;
}

ins {
  text-decoration: none;
}

section[id*="applying"] > div.note > div[role="heading"] ::before,
section[id*="applying"] > dl > dd > div.note > div[role="heading"] ::before,
section[id*="applying"] > dl > dd > ol > li > div.note > div[role="heading"] ::before {
    content: "Wcag2ict ";
}
